:root
    --un-black: #17191b
    --un-blue: #00b2e3
    --un-gray: #dfdfdf
    --container-width: 1440px
    --container-padding: 0 16px
    --spacing-base: 16px

    @media (min-width: 768px)
        --container-padding: 0 32px
    
.un-container
    font-family: Inter, Arial, sans-serif
    width: var(--container-width)
    padding: var(--container-padding)
    max-width: 100%
    margin-left: auto
    margin-right: auto
    box-sizing: border-box

    .un-h1
        margin: 0 0 calc(var(--spacing-base) * 1.5)
        font-size: 48px
        font-weight: 600
        line-height: 130%

    .un-h2
        font-size: 36px
        font-weight: 600
        margin: 0 0 40px

    .un-tabs
        margin: 0 0 calc(var(--spacing-base) * 2)
        padding: 0 0 var(--spacing-base)
        list-style-type: none
        display: flex
        font-size: 18px
        font-weight: 500
        border-bottom: 1px solid var(--un-gray)

        &__item
            &:not(:last-child)
                margin-right: calc(var(--spacing-base) * 1.5)

        &__link
            text-decoration: none
            color: var(--un-black)
            transition-duration: .3s
            padding: 4px 8px

            &--active,
            &:hover
                background-color: var(--un-blue)
                color: white
                border-radius: 4px

    @media (min-width: 992px)
        .un-tabs
            margin: 0 0 calc(var(--spacing-base) * 3)

.un-slider-wrap
    margin-bottom: calc(var(--spacing-base) * 4)
    width: 100%
    box-sizing: border-box
    overflow: hidden

    .un-slider
        width: calc(var(--container-width) - var(--container-padding) * 2)
        height: 600px
        overflow: visible

        &:hover

            .swiper-button-prev,
            .swiper-button-next
                &:not(.swiper-button-disabled)
                    opacity: 1
            

        .swiper-slide
            background-size: cover
            background-position: center
            border-radius: 32px
            width: 90%
            position: relative

            &:not(.swiper-slide-active)
                &:before
                    content: ''
                    position: absolute
                    width: 100%
                    height: 100%
                    background: white
                    opacity: .75

    .swiper-button-prev,
    .swiper-button-next
        height: 100%
        width: 120px
        top: 0
        margin: 0
        background-repeat: no-repeat
        background-position: center
        opacity: 0
        transition: opacity 0.3s ease;

        &.swiper-button-disabled
            opacity: 0
            transition: none;

        &::after
            content: none

        &::before
            content: ''
            width: 20px
            height: 40px
            background-size: cover
            background-position: center

    .swiper-button-prev
        background: linear-gradient(270deg, rgba(0, 87, 227, 0) 0%, rgba(0, 87, 227, 0.7) 100%);
        left: 5%
        border-radius: 32px 0 0 32px
        
        &::before
            background-image: url('./img/icons/slider-left.svg')

    .swiper-button-next
        background: linear-gradient(90deg, rgba(0, 87, 227, 0) 0%, rgba(0, 87, 227, 0.7) 100%)
        right: 5%
        border-radius: 0 32px 32px 0

        &::before
            background-image: url('./img/icons/slider-right.svg')

    @media (min-width: 992px)
        margin-bottom: calc(var(--spacing-base) * 5)

    @media (min-width: 1440px)
        .un-slider-wrap
            margin-left: calc((100vw - 100%) / -2)
            padding-left: calc((100vw - 100%) / 2)
            padding-right: calc((100vw - 100%) / 2)

.un-grid
    display: flex
    flex-flow: column wrap
    align-content: space-between

    &__item
        width: 100%
        display: flex
        margin-bottom: var(--spacing-base)

        &:nth-child(3n)
            margin-right: 0 !important

        img
            width: 100%
            height: auto

    @media (min-width: 992px)
        &__item
            width: calc(33.333% - 21px)
            margin-bottom: calc(var(--spacing-base) * 2)

    @media (max-width: 991px) and (min-width: 768px)
        &__item
            width: calc(50% - calc(var(--spacing-base)))

.un-tab
    display: none
    &--active
        display: block